/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: auto;
}

/* colonne flottanti */
[class*="col"]{
    float:left;
    height: 200px;
    text-align: center;
    padding-top: 10px;
}

[class*="col"] {
    background-color: rgb(255, 192, 203);
    border: 1px solid black;
    padding-top: 90px;
}

/* CLEARFIX  */
.container::after {
    content: "";
    display: table;
    clear: both;
}

.nested {
    background-color: rgb(240, 127, 128);
    /* padding: 10px;
    z-index: 1;     */
}


